MOTOR1_IP=192.168.1.10
MOTOR2_IP=192.168.1.20
MOTOR3_IP=192.168.1.30
MOTOR4_IP=192.168.0.40
MOTOR_PORT=7776
DEFAULT_SPEED=0.25
DEFAULT_ACCEL=10.0
DEFAULT_DECEL=10.0

MOTION__SOCKET_TIMEOUT=5.0
MOTION__RECV_BUFFER_SIZE=1024  

GEOMETRY__M1=[77.16, 81.48, 95.16]  
GEOMETRY__M2=[147.0, 146.04, 51.0] 
GEOMETRY__M3=[9.0, 146.04, 51.0] 
GEOMETRY__M4=[77.16, 0.00, 51.0]  
GEOMETRY__WIDTH_IN=147.0
GEOMETRY__HEIGHT_IN=146.04
GEOMETRY__Z_HEIGHT_IN=95.16

KINEMATICS__STEP_SIZE=0.00064316

TENSION__LOW_VOLTAGE_THRESHOLD=0.55
TENSION__HIGH_VOLTAGE_THRESHOLD=0.65
TENSION__INVERTED_LOW_VOLTAGE_THRESHOLD=4.45
TENSION__INVERTED_HIGH_VOLTAGE_THRESHOLD=4.35
TENSION__CORRECTION_STEPS=500
TENSION__SENSOR_EQUIPPED_MOTORS=["motor2", "motor3", "motor4"]
TENSION__INVERTED_TENSION_MOTORS=["motor2"]